.equation-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  color: #fff;
}

.equation-set {
  font-size: 4em;
}

#answer {
  color: #333;
  border: 3px solid white;
}

#answer:hover {
  color: #fff;
}
